<?xml version="1.0"?>
<!--
/**
 * CustomConfigurable config
 *
 * @category   Aydus
 * @package    Aydus_CustomConfigurable
 * @author     Aydus Consulting <davidt@aydus.com>
 */
-->
<config>
    <modules>
        <Aydus_CustomConfigurable>
            <version>0.9.0</version>
            <magento>1.7</magento>
        </Aydus_CustomConfigurable>
    </modules>
    <frontend>
        <routers>
            <aydus_customconfigurable>
                <use>standard</use>
                <args>
                    <module>Aydus_CustomConfigurable</module>
                    <frontName>customconfigurable</frontName>
                </args>
            </aydus_customconfigurable>
        </routers>
    </frontend>
	<admin>
	    <routers>
	        <adminhtml>
	            <args>
	                <modules>
	                    <Aydus_CustomConfigurable before="Mage_Adminhtml">Aydus_CustomConfigurable_Adminhtml</Aydus_CustomConfigurable>
	                </modules>
	            </args>
	        </adminhtml>
	    </routers>
	</admin>     
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <aydus_customconfigurable>
                        <class>aydus_customconfigurable/observer</class>
                        <method>changeOptionsTypeSelectTemplate</method>
                    </aydus_customconfigurable>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <layout>
            <updates>
                <aydus_customconfigurable>
                    <file>aydus/customconfigurable.xml</file>
                </aydus_customconfigurable>
            </updates>
        </layout>        
    </adminhtml>
    <global>    
    	<events>
            <catalog_product_delete_after_done>
                <observers>
                    <aydus_customconfigurable>
                        <class>aydus_customconfigurable/observer</class>
                        <method>deleteOptionImages</method>
                    </aydus_customconfigurable>
                </observers>
            </catalog_product_delete_after_done>    	
    	</events>  
        <blocks>
            <aydus_customconfigurable>
                <class>Aydus_CustomConfigurable_Block</class>
            </aydus_customconfigurable>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Aydus_CustomConfigurable_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                </rewrite>
            </adminhtml>            
        </blocks>
        <models>
            <aydus_customconfigurable>
                <class>Aydus_CustomConfigurable_Model</class>
                <resourceModel>aydus_customconfigurable_resource</resourceModel>
            </aydus_customconfigurable>
            <aydus_customconfigurable_resource>
                <class>Aydus_CustomConfigurable_Model_Resource</class>
                <entities>
                    <optionimage>
                        <table>aydus_customconfigurable_option_type_image</table>
                    </optionimage>                
                    <hash>
                        <table>aydus_customconfigurable_hash</table>
                    </hash>                
                </entities>
            </aydus_customconfigurable_resource>   
		    <catalog_resource>
		        <rewrite>
		            <product_option_value>Aydus_CustomConfigurable_Model_Resource_Catalog_Product_Option_Value</product_option_value>
		        </rewrite>
		    </catalog_resource>
		    <api2>
		        <rewrite>
		            <config>Aydus_CustomConfigurable_Model_Api2_Config</config>
		        </rewrite>
		    </api2>		    
        </models>
        <helpers>
            <aydus_customconfigurable>
                <class>Aydus_CustomConfigurable_Helper</class>
            </aydus_customconfigurable>
        </helpers>
        <resources>
            <aydus_customconfigurable_setup>
                <setup>
                    <module>Aydus_CustomConfigurable</module>
                    <class>Aydus_CustomConfigurable_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aydus_customconfigurable_setup>
        </resources>        
    </global>         
</config>